@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300..700&display=swap");

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

.bg-hero-section-image {
   background-image: url("/hero_banner.jpg");
}

.bg-product-card {
   background-color: rgba(188, 108, 37, 0.23);
}

hr {
   color: #bc6c25;
   background-color: #bc6c25;
   border-color: #bc6c25;
}

p {
   font-family: "Quicksand", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
}

.hide-scroll {
   scrollbar-width: none;
}

.m-plus-rounded-1c-regular {
   font-family: "M PLUS Rounded 1c", sans-serif;
   font-weight: 600;
   font-style: normal;
}
.gt_float_switcher .gt-selected .gt-current-lang {
   border-radius: 0.75rem !important;
   text-align: center !important;
}

.tox .tox-tbtn svg {
   fill: #bc6c25 !important;
}

/* FONTS */
.quicksand-light {
   font-family: "Quicksand", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
}

.quicksand-regular {
   font-family: "Quicksand", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

.quicksand-medium {
   font-family: "Quicksand", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
}

.quicksand-semibold {
   font-family: "Quicksand", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
}

.quicksand-bold {
   font-family: "Quicksand", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
}
